
.body-contato{
    background-image: url(fotos/389237.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}  





.contatos{
    margin-top: 200px;   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding-bottom: 100px;
    
}

.container-contato{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
  
}




.lista-contato{
    
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.foto-contato{
    margin:50px;
    border-radius: 35px;

  
}

.titulo-contato{
    margin-top: 20px;
    width: 150px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px  red;
    text-transform: uppercase;

}

.texto-contato{
    background-color: grey;
    color: black;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
    line-height: 1.5;
    margin:30px 0;
    font-size: 14px;


}

.botao-contato{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: piscar 5s infinite;
    padding: 3px 5px;
    border-radius: 10px;
    border: 2px solid black;}
   
    @keyframes piscar {
        0%, 100% {
          border-color: rgb(0, 0, 0);
         background-color: rgba(0, 0, 0, 0.707);
        }
        50%{
          border-color:black;
           background-color: rgb(0, 0, 0);
        }
      }




.img-botao-contato{
    margin: 5px ;

}



.container-mapa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botao-retorno{
    background-color: rgba(0, 0, 0, 0.656);
    color: white;
    position: fixed;
    align-self: flex-end;
    padding:10px;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid white;
    
}

.botao-retorno:hover{
    background-color: red;
}


.tabela-hr {
    color:white;
    background-color: #0000005f;
    font-size: 14px;
    width: 50%;
    margin: 60px auto;
    padding: 10px;

  }

  
  .td, .tr{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }


  
.link-mapa{
    color:white;
    font-size: 14px;
    background-color:grey;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
  
    
 

   }

   .janela-mapa{
    border-radius: 20px;
   }


   @media screen and ( max-width:800px){

    .contatos, .container-contato, .container-mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
    }

    .tabela-hr{
        width: 90%;
    }
    
   }


