.body-contato{
        background-image: url(https://images5.alphacoders.com/436/thumbbig-436163.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:exclusion ;
     

    
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100vw;
}

.foto-contato{
    margin: 10px;
    border-radius: 35px;
  
}

.titulo-contato{
    width: 150px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color:rgba(30, 62, 138, 0.702);
    text-transform: uppercase;

}

.texto-contato{
    width: 90%;
    text-align: center;
    background-color: rgba(57, 66, 194, 0.631);
    padding: 10px;
    font-size: 12px;
    margin: 20px;

}

.botao-contato{
    background-color: rgba(0, 0, 0, 0.554);
    color: rgb(255, 255, 255);
    width: 100% ;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px  rgb(128, 115, 115);
    padding: 10px 0;



}

.img-botao-contato{
    padding: 0 10px 0 0 ;
}

