body{
    background-color:#00030c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabeçalho{
    position: fixed;
    background-color: black;
    height: 12vh;
    width: 100%;
  

}

.logo-header{
    margin: auto;
    width: 300px;
    height: 80%;
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.carro-logo{
    display: block;
    width: 200px;
    height: 40px;
    margin: auto;
      
}
.titulo-logo{
   
    width: 100%;
    font-size: 24px;
    color: red;
    text-align: center;
 
}
main{

    width: 90%;
    margin:  50px auto;
    display: flex;
    flex-direction: column;
    color: white;
}



.scanner{

    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    text-align: center;
    
    
}

.img-scanner{
    box-shadow:  10px 15px 400px  rgba(16, 9, 156, 0.504);
    border-radius: 23%;
    border: 1px solid rgba(0, 0, 0, 0.609);
}

.titulo-scanner{
    width: 100%;
    font-size: 28px;
    margin-top: 50px;
    font-weight: bold;
    
    
}

.texto-scanner{
    margin-top: 30px;
    padding-bottom: 50px;
}

.link-footer{
 margin-left: 10px;
 color:black;
 font-weight: bold;
 font-size: 11px;
 padding: 5px;
 text-align: center;
 background-color: transparent;
 border-radius: 5px;
 transition: .6s; 
 box-shadow: inset 0px 0px 5px  rgb(240, 237, 237);
}

.rodape{
    color: white;
    margin-top: 100px;
    width: 100%;
    height: 60px;
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    }

    .item-footer{
    padding: 10px;
        
    }






@media screen and (max-width:920px) {
    .scanner{
        display: flex;
        flex-direction: column;
    }

.titulo-scanner{
    font-size: 18px;
}

.texto-scanner{
    font-size: 14px;
}
.carro-logo{
    width: 180px;     
}



.carro-logo{
    width: 180px;     
}
.titulo-logo{
    font-size: 20px;
    
 
}
}





















