
.body-mapa{
    background-image: url(fotos/389237.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}  

.container-mapa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botao-retorno{
    background-color: rgba(0, 0, 0, 0.656);
    color: white;
    position: fixed;
    align-self: flex-end;
    padding:10px;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid white;
    
}

.botao-retorno:hover{
    background-color: red;
}

.video-lambo{
    margin: 10px;
}

.tabela-hr {
    color:white;
    background-color: #0000005f;
    font-size: 14px;
    width: 60%;
    margin: 20px 0 20px 0;
    padding: 10px;

  }

  
  .td, .tr{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }


  
.link-mapa{
    color:white;
    font-size: 10px;
    background-color:grey;
    padding: 5px;
    margin: 10px;
    
    text-align: center;
  
    
 

   }

   .janela-mapa{
    border-radius: 20px;
   }
